body {
    background-image: url(../Images/capshieldbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.jumbotron {
    background-image: url(../Images/background3.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    min-height: 300px;
    font-family: Impact, "Charcoal", sans-serif;
}

h1 {
    background-color: rgba(243, 9, 9, 0.465);
    border-radius: .5em;
}

.btn2 {
    color: white;
    background-color: rgb(226, 13, 13);
    font-family: Impact, "Charcoal", sans-serif;
}

.btn3 {
    min-width: 90px;
    font-family: Impact, "Charcoal", sans-serif;
}

.my-search, 
.recent-search {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.wrap-buttons {
    border: 1px solid grey;
    background-color: white;
    margin-left: .5em;
    margin-bottom: 1em;
    border-radius: .5em;
}

p {
    font: 18px bold;
    color: white;
}

.btn-delete {
    border-right: 1px solid black;
    border-radius: 0;
}

.gif-content {
    column-count: 4;
    column-gap: 1em;
}

.giphy {
    background-color: rgba(214, 14, 14, 0.274);
    border: 1px solid grey;
    border-radius: .5em;
    page-break-inside: avoid;
}

.giphy img {
    width: 100%;
    height: 100%;
}

.fa-youtube {
    font-size: 2em;
    cursor: pointer;
}

.favorite {
    font-size: 1.6em;
    margin-left: 80px;
    cursor: pointer;
}

.fa-star {
    color: rgba(251, 214, 4, 0.801);
}

.giphy-footer {
    border: 1px solid grey;
    cursor: pointer;
    border-radius: .5em;
}

.active {
    background-color: rgba(106, 110, 110, 0.685);
}

.cleared {
    font-size: 20px;
}
.favoritesonly {
    border: 1px solid grey;
    border-radius: .5em;
    background-color: rgba(31, 32, 32, 0.76);
}
@media (max-width: 900px) {
    .gif-content
        {
            column-count: 2;
            column-gap: 1em;
        }
    }

@media (max-width: 600px) {
    .gif-content
        {
            column-count: 1;
            column-gap: 1em;
        }
    }

